
<div>
<div>
    Blood donation and transfusion service is an indispensable part of contemporary medicine and health care. Blood management has been recognized as a challenging task because of life threatening nature of blood products entails the punctilious administration due to its perishable nature & required timely processing and it also saves the life.

Such great challenge has been considerably alleviated with the development of information and computer technology. e-Blood Bank is an integrated blood bank automation system. This web based mechanism inter connects all the Blood Banks of the State into a single network. Integrated Blood Bank MIS refers the acquisition, validation, storage and circulation of various live data and information electronically regarding blood donation and transfusion service. Such system is able to assemble heterogeneous data into legible reports to support decision making from effective donor screening to optimal blood dissemination in the field. Those electronic processes will help the public for easy access to the blood availability status of blood banks on finger tips; so that he can place a requisition of a particular blood group in nearby blood bank (Especially rare groups) save a valuable life.

It also provides online status of blood group wise availability of blood units in all the licensed blood banks in the state. It includes online tracking and trailing system of the blood and blood products (components of blood) by the state level administrators. The system manages all the activities from blood collection both from camps & hospitals till the issue of blood units. It includes donor screening, blood collection, mandatory testing, storage and issue of the unit (whole human blood IP, different Blood component and aphaeresis blood products).
</div>
<br><br>
<h5 class="hed">Features:</h5>
<p class="para">
Blood Collection Management<br>
Blood Issue Management<br>
Inventory Management<br>
Stock Management<br>
Camp Management<br>
User and System Management<br>
<br><br>
</p>
<h5 class="head">
Advantages:
</h5>
<pre>
State & Blood Bank dashboard to provide the group wise blood stocks status for all stakeholders.
Dashboards for Blood Bank Officers (Tested/ Untested/ Buffer stock of blood units)
Distribution of blood from mother blood banks to blood storage centers.
Recruitment and retention of the regular blood donors in the state.
Maintain all the registers according to Drugs & Cosmetic Act of 1940.
Inventory of kits and consumables with alert for short expiry.
Alert mechanism for License, regular donors, organization to do VBD Camps.
Provides a paperless donor room
Real time information form collection to testing and use of blood and blood products.
Unique bar coding for each blood packets.
The citizen can access the availability of blood units from any blood bank of Odisha by using website, SMS or IVRS.
</pre>
</div>