<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img class="img2" src="../assets/img2.jpg">
  <h2>Bloood Bank Management System</h2>
  <nav>
    <ul>
        <li><a routerLink="/navbar/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/navbar/registration" routerLinkActive="active">Registration</a></li>
        <li><a routerLink="/navbar/login">Login</a></li>
        <li><a routerLink="/navbar/dashboard">Dashboard</a></li>
        <li><a routerLink="/navbar/aboutus">Aboutus</a></li>
        <li><a routerLink="/navbar/contactus">Contactus</a></li>
        <li><a routerLink="/navbar/donate">DonateNow</a></li>
        <li><a routerLink="">RequestNow</a></li>
    </ul>
</nav>

</body>
</html>
<div>
  <router-outlet></router-outlet>
</div>