<h2>
    DISCLAIMER
</h2>
<p class="dis">
    We wish to caution our lay faithful against fraud text messages using social media accounts to transfer funds to "Blood Bank " bank account.
We wish to state that the Blood Bank has not authorised any individual, corporate, trust, firm or body to collect money on our behalf. All fund transfers and card payments may be done through our official website indianredcross.org only.
For those who have received similar text messages, please report to the Blood Bank, NHQ at 9319982104 or 9319982105
</p>
<div class="don">
    <table align="center">
        <h3>Donor Register</h3>
        <tr>
            <td align="center">First Name:</td>
            <td><input type="text" name="Fname" required placeholder="First Name"></td>
        </tr>
        <tr>
            <td align="center">Last Name:</td>
            <td><input type="text" name="Lname" required placeholder="Last Name"></td>
        </tr>
        <tr>
            <td align="center">Date of BIrth:</td>
            <td><input type="date" name="Lname" required placeholder="Date of Birth"></td>
        </tr>
        <tr>
            <td align="center">Mobile No:</td>
            <td><input type="text" name="Mobile" required placeholder="Mobile Number"></td>
        </tr>
        <tr>
            <td align="center">Email Id:</td>
            <td><input type="text" name="email" required placeholder="Email"></td>
        </tr>

        <tr>
            <td align="center">State:</td>
            <td><select>
                <option>Select Your State</option>
                <option value="AP">Andhra Pradesh</option>
                <option value="AR">Arunachal Pradesh</option>
                <option value="AS">Assam</option>
                <option value="BR">Bihar</option>
                <option value="CT">Chhattisgarh</option>
                <option value="GA">Gujarat</option>
                <option value="HR">Haryana</option>
                <option value="HP">Himachal Pradesh</option>
                <option value="JK">Jammu and Kashmir</option>
                <option value="GA">Goa</option>
                <option value="JH">Jharkhand</option>
                <option value="KA">Karnataka</option>
                <option value="KL">Kerala</option>
                <option value="MP">Madhya Pradesh</option>
                <option value="MH">Maharashtra</option>
                    <option value="MN">Manipur</option>
                    <option value="ML">Meghalaya</option>
                <option value="MZ">Mizoram</option>
                <option value="NL">Nagaland</option>
                <option value="OR">Odisha</option>
                <option value="PB">Punjab</option>
                <option value="RJ">Rajasthan</option>
                <option value="SK">Sikkim</option>
                <option value="TN">Tamil Nadu</option>
                <option value="TG">Telangana</option>
                <option value="TR">Tripura</option>
                <option value="UT">Uttarakhand</option>
                <option value="UP">Uttar Pradesh</option>
                <option value="WB">West Bengal</option>
                <option value="AN">Andaman and Nicobar Islands</option>
                <option value="CH">Chandigarh</option>
                <option value="DN">Dadra and Nagar Haveli</option>
                <option value="DD">Daman and Diu</option>
                <option value="DL">Delhi</option>
                <option value="LD">Lakshadweep</option>
                <option value="PY">Puducherry</option>
            </select></td>
        </tr>
        <tr>
            <td align="center">Blood Group</td>
            <td><select>
                <option>Select Your Blood Group</option>
                <option>A+</option>
                <option>A-</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>B+</option>
                <option>B-</option>
                <option>O+</option>
                <option>O-</option>
            </select></td>
        </tr>
        <tr >
            <td align="center"><button class="btn">Submit</button></td>
        </tr>
    </table>
</div>