<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee behavior="scroll" direction="left" >“Making a donation is the ultimate sign of solidarity."</marquee>
<div class="container">
    <img class="img1" src="../assets/img1.jpg">
    <h3>
        Compatible Blood Type Donor
   </h3>
   <table align="center">
    <tr>
      <th>Blood Type</th>
      <th>Donate Blood To</th>
      <th>Receive Blood From</th>
    </tr>
    <tr>
      <td>A+</td>
      <td>A+ AB+</td>
      <td>A+ A- O+ O-</td>
    </tr>
    <tr>
      <td>O+</td>
      <td>O+ A+ B+ AB+</td>
      <td>O+ O-</td>
    </tr>
    <tr>
      <td>B+</td>
      <td>B+ AB+</td>
      <td>B+ B- O+ O-</td>
    </tr>
    <tr>
      <td>AB+</td>
      <td>AB+</td>
      <td>Everyone</td>
    </tr>
    <tr>
      <td>A-</td>
      <td>A+ A- AB+ AB-</td>
      <td>A- O-</td>
    </tr>
    <tr>
      <td>O-</td>
      <td>Everyone</td>
      <td>O-</td>
    </tr>
    <tr>
      <td>B-</td>
      <td>B= B- AB+ AB-</td>
      <td>B- O-</td>
    </tr>
    <tr>
      <td>AB-</td>
      <td>AB+ AB-</td>
      <td>AB- A- B- O-</td>
    </tr>
  </table>
 </div><br><br>
 <div class="avail">
       <a routerLink="/navbar/login">Available Blood Group</a><br><br><br>
       <a routerLink="/navbar/donate">Donate Now</a><br><br><br>
       <a routerLink="">Request Now</a>
 </div>
 <div>

 </div>
</body>
</html>